.document-cover-letters-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
}
.document-cover-letters-navbar-interactive {
  height: var(--dl-size-size-small);
  display: flex;
  position: relative;
  align-self: stretch;
  transition: 0.3s;
  align-items: center;
  padding-top: 5px;
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: 5px;
  justify-content: space-between;
}

.document-cover-letters-navlink {
  display: contents;
}
.document-cover-letters-logo {
  width: auto;
  height: 100%;
  transition: 0.3s;
  text-decoration: none;
}
.document-cover-letters-logo:hover {
  box-shadow: 0px 0px 10px 0px #d4d4d4;
  border-radius: 12px;
}
.document-cover-letters-desktop-menu {
  display: flex;
  align-self: center;
  align-items: stretch;
  justify-content: flex-start;
}
.document-cover-letters-nav {
  flex: 0 0 auto;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.document-cover-letters-container01 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  border-radius: 35px;
  background-color: #8c8c8c;
}
.document-cover-letters-container02 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.document-cover-letters-navlink1 {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: Fira Sans;
  font-weight: 400;
  line-height: 1.15;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: 0px;
  text-transform: none;
  text-decoration: none;
}
.document-cover-letters-container03 {
  display: flex;
  margin-top: 2px;
  align-items: flex-start;
  margin-left: var(--dl-space-space-twounits);
  margin-right: 4px;
  margin-bottom: 2px;
}
.document-cover-letters-register {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: Fira Sans;
  font-weight: 400;
  line-height: 1.15;
  margin-left: 0px;
  padding-top: var(--dl-space-space-halfunit);
  border-color: rgba(125, 114, 114, 0);
  padding-left: var(--dl-space-space-threeunits);
  border-radius: 50px;
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-halfunit);
  text-transform: none;
  text-decoration: none;
  background-color: rgb(0, 200, 171);
}
.document-cover-letters-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateY(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.document-cover-letters-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.document-cover-letters-container04 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.document-cover-letters-navlink2 {
  display: contents;
}
.document-cover-letters-image {
  height: 2rem;
  text-decoration: none;
}
.document-cover-letters-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.document-cover-letters-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.document-cover-letters-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.document-cover-letters-navlink3 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.document-cover-letters-navlink4 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.document-cover-letters-container05 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.document-cover-letters-register1 {
  color: #ffffff;
  padding: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
  border-color: rgba(125, 114, 114, 0);
  border-radius: 50px;
  text-decoration: none;
  background-color: #00c8ab;
}
.document-cover-letters-login {
  padding: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
  border-width: 0px;
  margin-right: 0px;
  border-radius: 50px;
  text-decoration: none;
  background-color: rgb(189, 188, 188);
}
.document-cover-letters-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.document-cover-letters-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.document-cover-letters-container06 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.document-cover-letters-container07 {
  flex: 0 0 auto;
  width: 90%;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  justify-content: center;
}
.document-cover-letters-container08 {
  width: 50%;
  display: flex;
  align-items: flex-start;
}
.document-cover-letters-container09 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: flex-start;
  transition: 0.3s;
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  padding-left: 16px;
  border-radius: 15px;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.document-cover-letters-container09:hover {
  box-shadow: 5px 5px 10px 0px #616161;
}
.document-cover-letters-container10 {
  width: 50%;
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: flex-end;
}
.document-cover-letters-container11 {
  display: flex;
  align-items: flex-start;
}
.document-cover-letters-text1 {
  font-size: 14px;
  font-style: normal;
  font-family: Fira Sans;
  font-weight: 400;
  line-height: 1.15;
  margin-right: var(--dl-space-space-twounits);
  text-transform: none;
  text-decoration: none;
}
.document-cover-letters-container12 {
  display: flex;
  align-items: flex-start;
}
.document-cover-letters-text2 {
  font-size: 14px;
  font-style: normal;
  font-family: Fira Sans;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.document-cover-letters-container13 {
  flex: 0 0 auto;
  width: 100%;
  margin: 0px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.document-cover-letters-container14 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: 61px;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.document-cover-letters-container15 {
  flex: 0 0 auto;
  width: 28%;
  height: 330px;
  display: flex;
  box-shadow: 0px 0px 10px 0px #000000;
  align-items: center;
  margin-left: 0px;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  background-color: #696969;
}
.document-cover-letters-text3 {
  color: #ffffff;
  width: auto;
  font-size: 24px;
  font-style: normal;
  text-align: center;
  font-family: Fira Sans;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.document-cover-letters-text4 {
  color: #cecece;
  margin-top: var(--dl-space-space-unit);
}
.document-cover-letters-container16 {
  flex: 0 0 auto;
  width: 28%;
  height: 330px;
  display: flex;
  transition: 0.3s;
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  border-color: rgba(120, 120, 120, 0.4);
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url("../../public/playground_assets/cv%20template-600w.png");
}
.document-cover-letters-container16:hover {
  box-shadow: 0px 0px 10px 0px #000000;
}
@media(max-width: 991px) {
  .document-cover-letters-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .document-cover-letters-mobile-menu {
    height: auto;
  }
  .document-cover-letters-container15 {
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 767px) {
  .document-cover-letters-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .document-cover-letters-desktop-menu {
    display: none;
  }
  .document-cover-letters-burger-menu {
    display: flex;
    justify-content: flex-end;
  }
  .document-cover-letters-icon2 {
    width: 10%;
    height: auto;
  }
  .document-cover-letters-container09 {
    width: 200px;
  }
  .document-cover-letters-text {
    font-size: 20px;
  }
  .document-cover-letters-text1 {
    font-size: 12px;
  }
  .document-cover-letters-text2 {
    font-size: 12px;
  }
  .document-cover-letters-container14 {
    align-self: center;
    justify-content: center;
  }
  .document-cover-letters-container15 {
    width: 40%;
    align-items: center;
    margin-left: 0px;
    justify-content: center;
  }
  .document-cover-letters-text3 {
    font-size: 20px;
  }
  .document-cover-letters-text4 {
    font-size: 12px;
  }
  .document-cover-letters-container16 {
    width: 40%;
  }
}
@media(max-width: 479px) {
  .document-cover-letters-navbar-interactive {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-unit);
  }
  .document-cover-letters-mobile-menu {
    padding: 16px;
  }
  .document-cover-letters-burger-menu {
    justify-content: flex-end;
  }
  .document-cover-letters-icon2 {
    width: 10%;
    height: auto;
  }
  .document-cover-letters-container09 {
    width: 120px;
    margin-left: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-unit);
  }
  .document-cover-letters-text {
    font-size: 14px;
  }
  .document-cover-letters-text1 {
    font-size: 10px;
    margin-right: var(--dl-space-space-unit);
  }
  .document-cover-letters-text2 {
    font-size: 10px;
  }
  .document-cover-letters-container14 {
    align-items: center;
  }
  .document-cover-letters-container15 {
    height: 230px;
    margin-left: 0px;
  }
  .document-cover-letters-text4 {
    text-align: center;
  }
  .document-cover-letters-container16 {
    height: 230px;
  }
}
